.table-reservation-container {
  background-color: #495e57;
  height: 300px;
}

.table-reservation-title {
  font-family: "Markazi Text", sans-serif;
  font-size: 40pt;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.table-reservation-form {
  background-color: white;
  height: 300px;
}
