.booking-page-container {
  background-color: white;
  height: 600px;
  border: 1px solid black;
}

.booking-page-title {
  font-family: "Markazi Text", sans-serif;
  font-size: 40pt;
  font-weight: 400;
  text-align: center;
  margin: 30px 0;
}
