.header-container {
  display: flex;
  background-color: #edefee;
  padding: 10px 25%;
  justify-content: space-between;
  align-items: center;
  color: black;
}

header img {
  height: 50px;
}

nav a {
  padding: 0 10px;
  text-decoration: none;
  color: inherit;
  font-family: "Markazi Text", sans-serif;
  font-size: 18pt;
  font-weight: 700;
}

@media only screen and (min-width: 1921px) {
  .header-container {
    padding: 10px 30%;
  }
}
