.highlights-container {
  border: black 1px solid;
  background-color: white;
  height: 500px;
  padding: 10px 25%;
}

.highlights-subtitle {
  font-family: "Markazi Text", sans-serif;
  font-size: 40pt;
  font-weight: 400;
  color: black;
}

.specials-title {
  color: black;
}

.highlights-section-top {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  background-color: #f4ce14;
  color: black;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 12pt;
  border-radius: 16px;
  width: 150px;
  padding: 15px;
  border: none;
}

.specials-container {
  display: flex;
  justify-content: space-between;
}

.specials-card {
  width: 250px;
  height: 350px;
  margin-top: 50px;
  background-color: #edefee;
  border-radius: 16px;
  position: relative;
}

.specials-image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.specials-image3 {
  width: 100%;
  height: 48%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.specials-title,
.specials-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 10px;
}

.specials-main {
  padding: 0 15px;
  margin-top: 10px;
  color: #495e57;
}

.specials-bottom {
  justify-content: flex-start;
  position: absolute;
  bottom: 15px;
  gap: 10px;
}

.faMotorcycle {
  color: #495e57;
}

.price {
  color: #ee9972;
  font-weight: bold;
}

@media only screen and (min-width: 1921px) {
  .highlights-container {
    padding: 10px 33%;
  }
}

@media only screen and (min-width: 1921px) {
  .specials-container {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
